<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>show all events</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/events"> Volunteering Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/events">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/events/create">Add Newe Event</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <% if (!user) { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/login"> Login</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/users/signup"> Signup</a>
                </li>
            <% } else { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/logout"> logout</a>
                </li>
            <%}  %>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <img src="<%= '/images/' + user.avatar%>" height="150px" width="150px">
            
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Profile </h1>
            <hr>

            <% if (locals.errors) {%>
                <% errors.forEach((err)=> {%>
                    <div class="alert alert-danger">
                        <%= err.msg%>
                    </div>
                <%})%>

            <%}%>


            <% if (locals.message && message !="") {%>

                <div class="alert alert-success">
                    <%= message%>
                </div>
            <%}%>


            <% if (locals.error && error !="") {%>

                <div class="alert alert-danger">
                    <%= error%>
                </div>
            <%}%>

            <% if (locals.success && success !="") {%>

                <div class="alert alert-success">
                    <%= success%>
                </div>
            <%}%>               <p>
                <% if (user) { %>
                    welcome .. your email <%= user.email%> 
                <%}%>
            </p>

            <form action="/users/uploadAvatar" method="POST" enctype="multipart/form-data">
                <input type="file" name="avatar" id="avatar" onchange="readURL(this)">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <hr>
            <h1 class="display-4">Image Preivew</h1>
            <img src="#" alt="" id="imagePlaceholder" height="200px" width="200px" style="display: none;">
        </div>
    </div>
</div>



<script src="/axios/dist/axios.min.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>